    <div class="footer">
        <a href="https://github.com/suman-maji" target="_blank"><img class="git" src="Image/github.png" alt=""></a>
        <a href="https://www.linkedin.com/in/suman09/" target="_blank"><img class="in" src="Image/linkedin.png" alt=""></a>
        <p class="copy"> © 2024 weatherSUM.org</p>
        <p class="love">Made with 💖 by Suman</p>
    </div>
    
    <script src="/app.js"></script>

</body>

</html>